/*----call to action, donate, testamenter, underskriv------*/
.call-to-action_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.call-to-action_option {
  height: 300px;
  box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 40%);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  max-height: 300px;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-black);
}
/* a:link, a:visited,  a:hover, a:active {
    color: #000000;
    text-decoration: none;
  } */

/*-------tablet--------*/
@media screen and (min-width: 768px) {
  .call-to-action_box {
    flex-direction: row;
  }
}

/*---------laptop---------*/
@media screen and (min-width: 1024px) {
  .call-to-action_option {
    max-width: 250px;
  }
}
