:root {
  --color-white: #ffffff;
  --color-grey: #f6f6f6;
  --color-black: #000000;
  --color-red: #df544b;
  --color-icyblue: #e9eff4;
  --color-darkblue: #30415d;
  --color-darkerblue: #021424;

  --heading: montserrat, sans-serif;
  --paragraph: work-sans, sans-serif;
  --box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 40%);
}

body {
  margin: 0px;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

.picture_one {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
}

/*------------------------------------------------------------------------------------*/
/*                                     NAV BAR START                                  */
/*------------------------------------------------------------------------------------*/
.top_top {
  position: relative;
}
.wrapper {
  display: flex;
  margin: 0px 10px;
  position: sticky;
}

.nav_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

#navbar {
  z-index: 5;
}

#navbar_logo {
  width: 50%;
  object-fit: scale-down;
}

img#navbar_logo:hover {
  opacity: 70%;
  transition: all 0.2s ease-out;
}

.logo_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav_container {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-align: center;
  align-items: center;
}

.menu_toggle .burger-stripe {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--color-grey);
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: var(--color-grey);
  color: var(--color-white);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -20px;
}

.dropdown-content a {
  color: var(--color-black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav_links {
  color: var(--color-white);
  text-decoration: none;
  /* position: relative; */
  font-family: montserrat, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  white-space: nowrap;
}

.nav_links:hover {
  color: rgb(199, 199, 199);
  transition: all 0.1s ease-out;
}

button {
  color: white;
  background-color: var(--color-red);
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 40%);
  width: 90px;
  padding: 10px;
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: color, background-color;
}

button:hover,
button:focus,
button:active {
  background-color: #ac3c36;
  color: white;
}

/*STICKY NAVBAR CLASS-*/
.sticky {
  position: fixed;
  top: 0;
  padding-bottom: 7px;
}

.background_color {
  background-color: var(--color-darkerblue);
  transition-timing-function: ease-in-out;
  transition: 0.4s;
  width: 100%;
}

.search_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  background: var(--color-white);
  border-color: var(--color-grey);
  border-radius: 10px;
  border-width: 0.2vw;
  max-width: 133px;
  max-height: 10px;
  padding: 8px;
  margin-bottom: 10px;
}

/*----------------------------------nav bar END---------------------------------------*/
img {
  object-fit: cover;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

.top_component {
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  z-index: -1;
}

.text {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 800;
  padding: 8px 12px;
  position: absolute;
  bottom: 90px;
  text-align: center;
  left: 20px;
  font-family: var(--paragraph);
}

.text button {
  width: 240px;
}

.text p {
  max-width: 600px;
  font-weight: 400;
}

/*----two third------*/

.two-third {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-icyblue);
  font-family: var(--paragraph);
}

.subheader {
  text-align: start;
  align-self: start;
}

.two-third_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  border-radius: 0px 0px 10px 10px;
}

.paw-icons {
  display: flex;
  flex-direction: column;
  align-self: start;
}

.mile_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.two-third_right .paragraph {
  max-width: 600px;
}

.two-third_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  border-radius: 0px 0px 10px 10px;
}

/*------------------------------------------------------------------------------------*/
/*                              FOOTER START                                          */
/*------------------------------------------------------------------------------------*/
footer .footer-content-wrapper {
  display: flex;
  gap: 20px;
  text-align: start;
  background-color: var(--color-darkerblue);
  color: var(--color-white);
  padding: 20px;
  font-family: var(--paragraph);
}

footer .column {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 10px;
}

footer .column a {
  text-decoration: none;
  color: var(--color-white);
  white-space: pre-line;
}

footer .column .fas,
footer .column .fab {
  font-size: 20px;
}

footer .column a:hover {
  color: rgb(189, 189, 189);
}
/*------------------------------------------------------------------------------------*/
/*                                   MEDIAQUERIES                                     */
/*------------------------------------------------------------------------------------*/

@media screen and (min-width: 374px) {
  .splash_text {
    bottom: 63%;
  }

  .text {
    left: 50px;
  }
}

@media screen and (min-width: 425px) {
  .splash_text {
    bottom: 58%;
  }

  .text {
    left: 70px;
  }
}

/*---------mobile---------*/
@media screen and (max-width: 768px) {
  .nav_container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    width: 55%;
    grid-gap: 0;
  }

  #nav_logo {
    margin-left: 20px;
  }

  .nav_container.active {
    background: var(--color-darkblue);
    left: -10px;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 2vh;
    z-index: 30;
  }

  .nav_links {
    font-size: 16px;
  }

  .nav_links:hover {
    transition: all 0.4s ease-out;
  }

  #burger_menu {
    transform: translate(5%, 20%);
  }

  .menu_toggle .burger-stripe {
    display: block;
    cursor: pointer;
  }

  .menu_toggle:hover {
    cursor: pointer;
  }

  #burger_menu.is-active .burger-stripe:nth-child(2) {
    opacity: 0;
  }

  #burger_menu.is-active .burger-stripe:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #burger_menu.is-active .burger-stripe:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  footer .footer-content-wrapper {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
  }
}

/*-------tablet--------*/
@media screen and (min-width: 768px) {
  #navbar_logo {
    width: 25%;
  }

  .splash_text {
    bottom: 26%;
    font-size: 1.7em;
  }

  .text {
    font-size: 72px;
    bottom: 40px;
    text-align: unset;
    left: 20px;
  }

  .nav_container.active {
    width: 30%;
    max-height: 10px;
  }

  .text {
    font-size: 22px;
    bottom: 100px;
    text-align: unset;
    left: 50px;
  }

  .two-third {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .two-third_left {
    flex: 1 1 50%;
    border-radius: 10px 0px 0px 10px;
  }
  .two-third_right {
    flex: 1 1 50%;
    border-radius: 0px 10px 10px 0px;
  }

  footer .footer-content-wrapper {
    justify-content: space-evenly;
  }
}

/*---------laptop---------*/
@media screen and (min-width: 1024px) {
  .logo_container {
    justify-content: flex-start;
  }

  #navbar_logo {
    width: 70%;
  }

  .logo_container {
    width: unset;
  }

  .splash_text {
    bottom: 0%;
    font-size: 2.5em;
  }

  .dropdown {
    padding-right: 17px;
  }

  .wrapper {
    margin: 0px 20px;
  }

  .sticky {
    padding-bottom: 0px;
  }

  .button {
    width: 70px;
  }

  .search {
    width: 80px;
    margin-bottom: unset;
  }

  .nav_links {
    font-size: 19px;
  }
}

/*----laptop large------*/
@media screen and (min-width: 1440px) {
  .splash_text {
    bottom: 20%;
    font-size: 2.5em;
  }
  .dropdown {
    padding-right: 30px;
  }

  img {
    max-height: 600px;
  }

  .button {
    width: 80px;
  }

  .search {
    width: 90px;
    margin-right: 10px;
  }

  .nav_links {
    font-size: 22px;
  }

  .dropdown {
    padding-right: 30px;
  }

  .two-third_left {
    padding: 80px;
    max-height: 300px;
  }
  .two-third_right {
    padding: 80px;
    max-height: 300px;
  }
}

/****************************************************/

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline_banner {
  width: 100%;
  background-color: var(--color-darkblue);
  min-height: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.banner_container {
  color: var(--color-white);
  font-family: var(--heading);
}

.timeline ul {
  background: var(--color-grey);
  margin-top: 0px;
  padding: 50px 0;
  font-family: var(--paragraph);
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: var(--color-darkerblue);
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background-color: var(--color-darkblue);
  border-radius: 10px;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--color-darkblue) transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -468px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--color-darkblue);
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: var(--color-darkerblue);
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  color: white;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(87vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--color-darkblue) transparent transparent;
  }
}

/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
