/*****************************GENERELT********************************/

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #ffffff;
  --color-grey: #f6f6f6;
  --color-black: #000000;
  --color-red: #df544b;
  --color-icyblue: #e9eff4;
  --color-darkblue: #30415d;
  --color-darkerblue: #021424;
}

h1,
h2,
h3,
h4 {
  font-family: montserrat, sans-serif;
}

p {
  font-family: work-sans, sans-serif;
}

input {
  font-family: montserrat, sans-serif;
}

/*------------------------------------------------------------------------------------*/
/*                                     FORM FLOW                                      */
/*------------------------------------------------------------------------------------*/

#splash {
  height: 500px;
}

#form {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

#form_content {
  width: 80%;
  background-color: var(--color-white);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#form_content h3 {
  margin-top: 5%;
  font-size: 15px;
}

#flow_steps {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--color-darkblue);
  color: var(--color-white);
  border-radius: 5px 5px 0px 0px;
}

#step1 h3 {
  margin-left: 5%;
}

#step1 #amounts {
  display: grid;
  grid-template-columns: 55px 55px 55px 55px;
  grid-gap: 5%;
  margin: 0% 5% 5% 5%;
}

#step1 #amounts button {
  font-size: 12px;
  padding: 2% 4% 2% 4%;
  text-align: center;
  margin-top: 30%;
  border-radius: 3px;
  background-color: var(--color-white);
  border: solid 2px var(--color-darkblue);
  color: #30415d;
}

#step1 #amounts button:hover {
  background-color: var(--color-darkblue);
  color: var(--color-white);
}

#step1 #amounts input {
  font-size: 12px;
  padding: 2% 4% 2% 4%;
  margin-top: 30%;
  border-radius: 3px;
  border-color: var(--color-darkblue);
}

#step1 .next_button {
  margin-left: 5%;
}

#step2 {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5%;
}

#step2 .inputs {
  margin-top: 5%;
}

#step2 input {
  font-size: 10px;
  border-radius: 3px;
  border-color: var(--color-darkblue);
  width: 100%;
  height: 25px;
  margin: 2% 0% 2% 0%;
}

#step2 .checkbox {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  margin: 5% 0% 5% 0%;
}

#step2 .checkbox input {
  width: unset;
  height: unset;
  margin-right: 5%;
}

#step2 .checkbox p {
  font-size: 10px;
}

.next_button button {
  margin: 5% 0% 5% 0%;
  font-size: 12px;
  padding: 2% 4% 2% 4%;
  text-align: center;
  border-radius: 3px;
}

#step3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 5% 10% 10% 10%;
}

#step3 p {
  margin-top: 5%;
}

#form button {
  all: unset;
  font-family: montserrat, sans-serif;
  cursor: pointer;
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 2% 7% 2% 7%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/*------------------------------------------------------------------------------------*/
/*                                     MAIN INDHOLD                                   */
/*------------------------------------------------------------------------------------*/

main button {
  all: unset;
  font-family: montserrat, sans-serif;
  cursor: pointer;
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 2% 7% 2% 7%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

main #content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

main #bottom_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .textbox {
  display: flex;
  flex-direction: column;
  width: 80%;
}

main #content img {
  width: 80%;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

main #content p,
main #content h3 {
  margin-top: 5%;
  margin-top: 5%;
}

main #content button {
  margin-top: 10%;
  border-radius: 5px;
}

main #icons_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-bottom: 10%;
}

main #icon_1,
main #icon_2,
main #icon_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 15%;
  padding: 10%;
  border-radius: 3px;
}

main #icons_box img {
  box-shadow: unset;
  width: 40%;
  margin-top: 5%;
}

main #icons_box p {
  text-align: center;
}

main #bottom_column img {
  object-fit: cover;
}

/*------------------------------------------------------------------------------------*/
/*                                     TOGGLE CLASSES                                 */
/*------------------------------------------------------------------------------------*/

.hide {
  display: none !important;
}

.this_flow {
  color: var(--color-red) !important;
}

.chosen_amount {
  background-color: var(--color-darkblue) !important;
  color: var(--color-white) !important;
}

/*------------------------------------------------------------------------------------*/
/*                                     MEDIA QUERY                                    */
/*------------------------------------------------------------------------------------*/

/*-------tablet--------*/
@media screen and (min-width: 768px) {
  main #form {
    width: 50%;
  }

  main #content h3 {
    margin-top: 0%;
  }

  main #icons_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
  }

  main #icon_1,
  main #icon_2,
  main #icon_3 {
    width: 80%;
  }

  main #icons_box h4 {
    font-size: 10px;
  }

  main #icons_box p {
    font-size: 10px;
  }

  main #icons_box img {
    width: 30%;
  }

  main #bottom_column {
    flex-direction: row;
    width: 80%;
    margin-bottom: 20%;
    align-items: unset;
  }

  main #bottom_column .textbox {
    width: 60%;
    margin-right: 10%;
  }

  main #bottom_column img {
    width: 30%;
    height: 300px;
  }
}

/*---------laptop---------*/
@media screen and (min-width: 1024px) {
  main #form {
    width: 40%;
  }

  main #step1 #amounts {
    grid-template-columns: 80px 80px 80px 80px;
  }

  main #bottom_column .textbox {
    width: 50%;
  }

  main #bottom_column img {
    width: 40%;
    height: 300px;
  }
}

/*----laptop large------*/
@media screen and (min-width: 1440px) {
  main #form {
    width: 40%;
  }
}
