/*****************************GENERELT********************************/

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #ffffff;
  --color-grey: #f6f6f6;
  --color-black: #000000;
  --color-red: #df544b;
  --color-icyblue: #e9eff4;
  --color-darkblue: #30415d;
  --color-darkerblue: #021424;

  --heading: montserrat, sans-serif;
  --paragraph: work-sans, sans-serif;

  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: -0.1px 0.3px 0.5px hsl(var(--shadow-color) / 0),
    -0.2px 1px 1.5px hsl(var(--shadow-color) / 0.1);
  --shadow-elevation-medium: 0.1px 0.2px 0.3px hsl(var(--shadow-color) / 0),
    1.4px 4px 6.4px hsl(var(--shadow-color) / 0.23);
  --shadow-elevation-high: -0.1px 0.3px 0.5px hsl(var(--shadow-color) / 0),
    -1.5px 6.3px 9.7px hsl(var(--shadow-color) / 0.11),
    -4.6px 19.5px 30.1px hsl(var(--shadow-color) / 0.22);
}

body,
#navbar {
  max-width: 1800px;
  margin: auto;
}

html {
  overflow-y: scroll;
}

h1,
h2,
h3 {
  font-family: var(--heading);
}

h4,
h5,
h6,
p {
  font-family: var(--paragraph);
}

/*------------------------------------------------------------------------------------*/
/*                                     NAV BAR START                                  */
/*------------------------------------------------------------------------------------*/
header .sticky,
header .top_component {
  z-index: 300;
}

header #navbar {
  z-index: 1000 !important;
  padding: 16px 0px 5px 0px;
}
header .top_top {
  position: relative;
}
.wrapper {
  display: flex;
  margin: 0px 10px;
  position: sticky;
}

header .nav_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

header .logo_image {
  max-width: 100px;
  display: flex;
  align-self: center;
}

header img#navbar_logo:hover {
  opacity: 70%;
  transition: all 0.2s ease-out;
}

header .logo_container {
  display: flex;

  width: 100%;
  height: 17px;
}

header .nav_container {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-align: center;
  align-items: center;
}

header .menu_toggle .burger-stripe {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--color-grey);
}

header .dropdown {
  position: relative;
  display: inline-block;
  padding: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: var(--color-red);
  /* color: var(--color-white); */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  margin-left: -3px;
  margin-top: 7px;
}

.dropdown-content a {
  color: var(--color-white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: var(--heading);
}

header .dropdown-content a:hover {
  background-color: #ac3c36;
}

header .dropdown:hover .dropdown-content {
  display: block;
}

header .nav_links {
  color: var(--color-white);
  text-decoration: none;
  /* position: relative; */
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-style: normal;

  white-space: nowrap;
}

header .nav_links:hover {
  color: rgb(199, 199, 199);
  transition: all 0.1s ease-out;
}

button {
  color: white;
  background-color: var(--color-red);
  border: none;
  border-radius: 10px;
  box-shadow: var(--shadow-elevation-medium);
  width: 90px;
  padding: 10px;
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: color, background-color;
  font-weight: bold;
}

button:hover,
button:focus,
button:active {
  background-color: #ac3c36;
  color: white;
}

/*STICKY NAVBAR CLASS-*/
header .sticky {
  position: fixed;
  top: 0;
  padding-bottom: 7px;
}

header .background_color {
  background-color: var(--color-darkerblue);
  transition-timing-function: ease-in-out;
  transition: 0.4s;
  width: 100%;
}

header .search_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .search {
  background: var(--color-white);
  border-color: var(--color-grey);
  border-radius: 10px;
  border-width: 0.2vw;
  max-width: 133px;
  max-height: 10px;
  padding: 8px;
  margin-bottom: 10px;
}

/*----------------------------------nav bar END---------------------------------------*/
/*----FONT SIZES START------*/

.nav_links {
  color: var(--color-white);
  text-decoration: none;
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: clamp(0.938rem, 2vw + 0.25rem, 1.063rem);
  white-space: nowrap;
}

.dropdown-content a {
  font-style: normal;
  font-size: clamp(0.875rem, 2vw + 0.25rem, 0.875rem);
}

.text h1 {
  font-size: clamp(1.438rem, 3vw, 2.188rem);
  color: var(--color-white);
}

h2 {
  font-size: (1.25rem, 4vw - 0.5rem, 1.5rem);
}

p {
  font-size: clamp(0.75rem, 3vw - 0.25rem, 0.938rem);
  line-height: clamp(1.25rem, 2vw + 0.5rem, 1.438rem);
}
/*----font sizes end------*/

img {
  object-fit: cover;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

header .top_component {
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

/* Slideshow container */

/* Caption text */
header .text {
  color: #f2f2f2;
  font-weight: bold;
  padding: 8px 12px;
  bottom: 90px;
  text-align: center;
  left: 20px;
  align-self: center;
  flex: 1 1 50%;
}

header .text button {
  width: 240px;
}

.form_and_text_wrapper {
  position: absolute;
  top: 85px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.form_and_text_content {
  display: flex;
  flex-direction: column;
}

/*------------------------------------------------------------------------------------*/
/*                                     FORM FLOW                                      */
/*------------------------------------------------------------------------------------*/

.picture_one {
  height: 650px;
  background-position: center;
  background-size: cover;
  width: 100%;
}

#form {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  flex: 1 1 50%;
}

#form #form_content {
  width: 90%;
  background-color: var(--color-white);
  border-radius: 10px;
  max-width: 420px;
  box-shadow: var(--shadow-elevation-high);
}

#form #form_content h3 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 15px;
}

#form #flow_steps {
  display: grid;
  grid-template-columns: 1fr 1.6fr 1fr;
  /* justify-content: space-around; */
  background-color: var(--color-darkblue);
  color: var(--color-white);
  /* border-radius: 5px 5px 0px 0px; */
  padding: 5px;
  text-align: center;
  font-size: 17px;
  gap: 13px;
  border-radius: 10px 10px 0px 0px;
}

#step1,
#step2,
#step3 {
  margin: 10% 5% 10% 5%;
}

#step1_path,
#step2_path,
#step3_path {
  cursor: pointer;
}

#form #step1 #amounts {
  display: grid;
  grid-template-columns: repeat(auto-fill, 68px);
  grid-gap: 10%;
  align-items: baseline;
  justify-content: start;
}

#form #step1 #amounts input {
  font-size: 12px;
  padding: 2% 4% 2% 4%;
  margin-top: 15%;
  border-radius: 3px;
  border-color: var(--color-darkblue);
}

#form #step1 h3:nth-of-type(2) {
  margin-top: 20%;
}

#form #step1 .payments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3%;
}

#form #step1 .amounts_button,
#form #step1 .payments_button {
  font-size: 12px;
  padding: 2% 4% 2% 4%;
  text-align: center;
  margin-top: 15%;
  border-radius: 3px;
  background-color: var(--color-white);
  border: solid 1px var(--color-darkblue);
  color: #30415d;
}

#form #step1 .payments_button {
  font-size: 8px;
}

#form #step1 .amounts_button:hover,
#form #step1 .payments_button:hover {
  background-color: var(--color-darkblue);
  color: var(--color-white);
}

button.nexts_button {
  width: 129px;
  margin-top: 29px;
}

#form #step2 {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5%;
}

#form #step2 input {
  font-size: 10px;
  border-radius: 3px;
  border-color: var(--color-darkblue);
  width: 100%;
  height: 25px;
  margin: 2% 0% 2% 0%;
}

#form #step2 .checkbox {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  margin: 5% 0% 5% 0%;
}

#form #step2 .checkbox input {
  width: unset;
  height: unset;
  margin-right: 5%;
}

#form #step2 .checkbox p {
  font-size: 10px;
}

#form #step3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 5% 10% 10% 10%;
}

#form #step3 p {
  margin-top: 5%;
}

#form #step1 .next_button {
  margin-top: 30%;
}

#form button {
  width: unset;
}

/*------------------------------------------------------------------------------------*/
/*                                     MAIN INDHOLD                                   */
/*------------------------------------------------------------------------------------*/

main #content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

main .textbox {
  display: flex;
  flex-direction: column;
  width: 80%;
}

main #content img {
  width: 80%;
  height: auto;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

main #content p,
main #content h3 {
  margin-top: 5%;
  margin-top: 5%;
}

section.content.icons {
  padding: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  align-self: center;
}

main #icons_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 40px 0px;
  gap: 50px;
}

main #icon_1,
main #icon_2,
main #icon_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  border-radius: 10px;
  gap: 10px;
}

main #icons_box img {
  box-shadow: unset;
  width: 40%;
  margin-top: 5%;
}

main #icons_box p {
  text-align: center;
}

/*----two third------*/
.two-third_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-icyblue);
}

.two-third_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding: 30px 20px;
  gap: 20px;
}

.two-third_right .paragraph {
  max-width: 600px;
}

.two-third_left {
  min-height: 340px;
  width: 100%;
}

.two-third_image {
  display: flex;
  justify-content: center;
  height: 100%;
}

.two-third img {
  border-radius: 10px;
}

.two-third-button_container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 30px;
}

/*------------------------------------------------------------------------------------*/
/*                                     TOGGLE CLASSES                                 */
/*------------------------------------------------------------------------------------*/

.hide {
  display: none !important;
}

.this_flow {
  color: var(--color-red) !important;
}

.chosen_amount {
  background-color: var(--color-darkblue) !important;
  color: var(--color-white) !important;
}

/*------------------------------------------------------------------------------------*/
/*                              FOOTER START                                          */
/*------------------------------------------------------------------------------------*/
footer .footer-content-wrapper {
  display: flex;
  gap: 20px;
  text-align: start;
  background-color: var(--color-darkerblue);
  color: var(--color-white);
  padding: 20px;
  font-family: var(--paragraph);
}

footer .column {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 10px;
}

footer .column a {
  text-decoration: none;
  color: var(--color-white);
  white-space: pre-line;
}

footer .column .fas,
footer .column .fab {
  font-size: 15px;
}

footer .column a:hover {
  color: rgb(189, 189, 189);
}

/*------------------------------------------------------------------------------------*/
/*                                     MEDIA QUERY                                    */
/*------------------------------------------------------------------------------------*/

@media screen and (min-width: 374px) {
  header .splash_text {
    bottom: 63%;
  }
}

@media screen and (min-width: 425px) {
  header .splash_text {
    bottom: 58%;
  }
}

/*---------mobile---------*/
@media screen and (max-width: 768px) {
  header .nav_container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    width: 55%;
    grid-gap: 0;
  }

  header #navbar {
    padding: 24px 0px 23px 0px;
  }

  header #nav_logo {
    margin-left: 20px;
  }

  header .nav_container.active {
    background: var(--color-darkblue);
    left: -10px;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 2vh;
    z-index: 30;
  }

  header .nav_links:hover {
    transition: all 0.4s ease-out;
  }

  header #burger_menu {
    transform: translate(6%, -26%);
  }

  header .menu_toggle .burger-stripe {
    display: block;
    cursor: pointer;
  }

  header .menu_toggle:hover {
    cursor: pointer;
  }

  header #burger_menu.is-active .burger-stripe:nth-child(2) {
    opacity: 0;
  }

  header #burger_menu.is-active .burger-stripe:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  header #burger_menu.is-active .burger-stripe:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  footer .footer-content-wrapper {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
  }

  .two-third_right {
    gap: 21px;
  }

  .two-third_left {
    min-height: unset;
  }

  .logo_container {
    justify-content: space-between;
  }
}

/*-------tablet--------*/
@media screen and (min-width: 767px) {
  header .splash_text {
    bottom: 26%;
  }

  header .text {
    bottom: 100px;
    text-align: unset;
    left: 50px;
    padding: 30px;
  }

  header .nav_container.active {
    width: 30%;
    max-height: 10px;
  }

  header .search {
    max-width: 50px;
    margin-bottom: unset;
  }

  header .nav_container button {
    width: 70px;
    height: 29px;
    text-align: center;
    line-height: 10px;
  }

  #form {
    margin-top: 0;
    width: 50%;
    height: 390px;
    margin-right: 15px;
  }

  header .top_component {
    width: 100%;
  }

  main #content h3 {
    margin-top: 0%;
  }

  main #icons_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
  }

  main #icon_1,
  main #icon_2,
  main #icon_3 {
    width: 80%;
  }

  /* main #icons_box h4 {
    font-size: 10px;
  } */

  footer .footer-content-wrapper {
    justify-content: space-evenly;
  }

  .form_and_text_content {
    flex-direction: row;
  }

  .picture_one {
    height: 500px;
  }

  .form_and_text_wrapper {
    top: 63px;
    height: 500px;
  }

  #form #flow_steps {
    padding: 10px;
  }

  .two-third_wrapper {
    padding: 80px;
  }

  .two-third_left {
    flex: 1 1 40%;
  }
  .two-third_right {
    flex: 1 1 60%;
  }
}

/*---------laptop---------*/
@media screen and (min-width: 1024px) {
  header .logo_container {
    justify-content: flex-start;
  }

  header .logo_container {
    width: unset;
  }

  header .dropdown {
    padding-right: 17px;
  }

  header .sticky {
    padding-bottom: 0px;
  }

  header .search {
    width: 80px;
    margin-bottom: unset;
  }

  header .call-to-action_option {
    max-width: 250px;
  }

  header .logo_image {
    max-width: 160px;
    margin-top: 12px;
  }

  header .text h1,
  header .text p {
    max-width: 600px;
  }

  #form {
    width: 40%;
  }

  #form #step1 h3:nth-of-type(2) {
    margin-top: 15%;
  }

  #form #step1 .next_button {
    margin-top: 25%;
  }

  main #step1 #amounts {
    grid-template-columns: 80px 80px 80px 80px;
  }

  .support-button_container {
    margin-left: 10px;
  }

  .two-third_right {
    padding: 40px;
  }

  .two-third {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

/*----laptop large------*/
@media screen and (min-width: 1440px) {
  header .splash_text {
    bottom: 20%;
  }

  header img {
    max-height: 600px;
  }

  header .search {
    width: 90px;
    margin-right: 10px;
  }

  header .nav_container button {
    height: 34px;
  }

  #form {
    width: 40%;
  }

  #form #form_content {
    width: 55%;
  }
}
