:root {
  --color-white: #ffffff;
  --color-grey: #f6f6f6;
  --color-black: #000000;
  --color-red: #df544b;
  --color-icyblue: #e9eff4;
  --color-darkblue: #30415d;
  --color-darkerblue: #021424;

  --heading: montserrat, sans-serif;
  --paragraph: work-sans, sans-serif;
  --box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
}
body,
#navbar {
  max-width: 1800px;
  margin: auto;
}

html {
  overflow-y: scroll;
}

h1,
h2,
h3 {
  font-family: var(--heading);
}

h4,
h5,
h6,
p {
  font-family: var(--paragraph);
}

.picture_one {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
}

img {
  border-radius: 10px;
}

#separationbar {
  border-radius: unset;
}

/*------------------------------------------------------------------------------------*/
/*                                     NAV BAR START                                  */
/*------------------------------------------------------------------------------------*/
header .sticky,
header .top_component {
  z-index: 300;
}

header #navbar {
  z-index: 1000 !important;
  padding: 16px 0px 5px 0px;
}
header .top_top {
  position: relative;
}

header .wrapper {
  display: flex;
  margin: 0px 10px;
  position: sticky;
}

header .nav_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

header .logo_image {
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img#navbar_logo:hover {
  opacity: 70%;
  transition: all 0.2s ease-out;
}

header .logo_container {
  display: flex;

  width: 100%;
  height: 17px;
}

header .nav_container {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-align: center;
  align-items: center;
}

header .menu_toggle .burger-stripe {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--color-grey);
}

header .dropdown {
  position: relative;
  display: inline-block;
  padding: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: var(--color-red);
  /* color: var(--color-white); */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  margin-left: -3px;
  margin-top: 7px;
}

.dropdown-content a {
  color: var(--color-white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: var(--heading);
}

header .dropdown-content a:hover {
  background-color: #ac3c36;
}

header .dropdown:hover .dropdown-content {
  display: block;
}

header .nav_links {
  color: var(--color-white);
  text-decoration: none;
  /* position: relative; */
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-style: normal;
  white-space: nowrap;
}

header .nav_links:hover {
  color: rgb(199, 199, 199);
  transition: all 0.1s ease-out;
}

button {
  color: white;
  background-color: var(--color-red);
  border: none;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 90px;
  padding: 10px;
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: color, background-color;
  font-weight: bold;
  white-space: nowrap;
}

button:hover,
button:focus,
button:active {
  background-color: #ac3c36;
  color: white;
}

/*STICKY NAVBAR CLASS-*/
.sticky {
  position: fixed;
  top: 0;
  padding-bottom: 7px;
}

.background_color {
  background-color: var(--color-darkerblue);
  transition-timing-function: ease-in-out;
  transition: 0.4s;
  width: 100%;
}

header .search_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .search {
  background: var(--color-white);
  border-color: var(--color-grey);
  border-radius: 10px;
  border-width: 0.2vw;
  max-width: 133px;
  max-height: 10px;
  padding: 8px;
  margin-bottom: 10px;
}

/*----------------------------------nav bar END---------------------------------------*/

/*----FONT SIZES START------*/

.nav_links {
  color: var(--color-white);
  text-decoration: none;
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: clamp(0.938rem, 2vw + 0.25rem, 1.063rem);
  white-space: nowrap;
}

.dropdown-content a {
  font-style: normal;
  font-size: clamp(0.875rem, 2vw + 0.25rem, 0.875rem);
}

.text h1 {
  font-size: clamp(1.438rem, 3vw, 2.188rem);
  color: var(--color-white);
}

h2 {
  font-size: (1.25rem, 4vw - 0.5rem, 1.5rem);
}

p {
  font-size: clamp(0.75rem, 3vw - 0.25rem, 0.938rem);
  line-height: clamp(1.25rem, 2vw + 0.5rem, 1.438rem);
}
/*----font sizes end------*/
img {
  object-fit: cover;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

header .top_component {
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

/* Slideshow container */
header .slideshow-container {
  position: relative;
  margin: auto;
}

/* Caption text */
header .text {
  color: #f2f2f2;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 90px;
  text-align: center;
  left: 20px;
}

header .text button {
  width: 240px;
}
/*------------------------------------------------------------------------------------*/
/*                                     MAIN INDHOLD                                   */
/*------------------------------------------------------------------------------------*/

main {
  overflow-x: hidden;
}

main button {
  all: unset;
  font-family: montserrat, sans-serif;
  cursor: pointer;
  color: var(--color-red);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main #top_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

main #top_column h3 {
  margin: 10% 0% 10% 0%;
}

main #top_column img {
  margin-top: 10%;
  margin-bottom: 10%;
}

main #bottom_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 10% 20% 10%;
  background-color: var(--color-icyblue);
}

main #form {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0% 0%;
  padding: 10%;
  margin: 10% 0% 0% 0%;
  background-color: var(--color-white);
}

main #form input,
main #form textarea {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 30px;
}

main #form button {
  color: white;
  background-color: var(--color-red);
  border: none;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 90px;
  padding: 10px;
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: color, background-color;
  margin-top: 5%;
}

main #form button:hover,
main #form button:focus,
main #form button:active {
  background-color: #ac3c36;
  color: white;
}

main #form .message {
  height: 100px;
}

main #thank_you_message {
  text-align: center;
}

main #bottom_column img {
  border-radius: 0% 0% 10px 10px;
}

/****************************POSTS**************************/

main #button_box {
  background-color: var(--color-white);
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
  margin-bottom: 5%;
}

main #blogcontent {
  background-image: url("/static_assets/background_shape_high-left.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  color: black;
  align-items: center;
  margin-bottom: 10%;
}

main .post_article {
  display: flex;
  justify-content: center;
}

main .post_element {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  width: 70%;
  height: 420px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: var(--color-white);
}

main .post_image {
  width: 100%;
  border-radius: 10px 10px 0% 0%;
  height: 100%;
}

main .post_image img {
  border-radius: 0% 0% 0% 0%;
}

main .post_h2,
main .post_excerpt,
main .button_box {
  width: 90%;
  place-self: center;
  margin: 5%;
}

main .button_box button:hover {
  color: var(--color-darkerblue) !important;
  background-color: var(--color-white) !important;
}

/*------------------------------------------------------------------------------------*/
/*                                     TOGGLE CLASSES                                 */
/*------------------------------------------------------------------------------------*/

.hide {
  display: none !important;
}

/*------------------------------------------------------------------------------------*/
/*                              FOOTER START                                          */
/*------------------------------------------------------------------------------------*/
footer .footer-content-wrapper {
  display: flex;
  gap: 20px;
  text-align: start;
  background-color: var(--color-darkerblue);
  color: var(--color-white);
  padding: 20px;
  font-family: var(--paragraph);
}

footer .column {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 10px;
}

footer .column a {
  text-decoration: none;
  color: var(--color-white);
  white-space: pre-line;
}

footer .column .fas,
footer .column .fab {
  font-size: 20px;
}

footer .column a:hover {
  color: rgb(189, 189, 189);
}

/*------------------------------------------------------------------------------------*/
/*                                     MEDIA QUERY                                    */
/*------------------------------------------------------------------------------------*/

@media screen and (min-width: 374px) {
  header .splash_text {
    bottom: 63%;
  }

  header .text {
    left: 50px;
  }
}

@media screen and (min-width: 425px) {
  header .splash_text {
    bottom: 58%;
  }

  header .text {
    left: 70px;
  }
}

/*---------mobile---------*/
@media screen and (max-width: 768px) {
  header .nav_container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    width: 55%;
    grid-gap: 0;
  }

  header #navbar {
    padding: 24px 0px 23px 0px;
  }

  header #nav_logo {
    margin-left: 20px;
  }

  header .nav_container.active {
    background: var(--color-darkblue);
    left: -10px;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 2vh;
  }

  header .nav_links:hover {
    transition: all 0.4s ease-out;
  }

  header #burger_menu {
    transform: translate(6%, -26%);
  }

  header .menu_toggle .burger-stripe {
    display: block;
    cursor: pointer;
  }

  header .menu_toggle:hover {
    cursor: pointer;
  }

  header #burger_menu.is-active .burger-stripe:nth-child(2) {
    opacity: 0;
  }

  header #burger_menu.is-active .burger-stripe:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  header #burger_menu.is-active .burger-stripe:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  footer .footer-content-wrapper {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
  }

  .logo_container {
    justify-content: space-between;
  }
}

/*-------tablet--------*/
@media screen and (min-width: 768px) {
  header .splash_text {
    bottom: 26%;
  }

  header .text {
    bottom: 100px;
    text-align: unset;
    left: 50px;
  }

  header .nav_container.active {
    width: 30%;
    max-height: 10px;
  }

  header .search {
    max-width: 50px;
    margin-bottom: unset;
  }

  header .nav_container button {
    width: 70px;
    height: 29px;
    text-align: center;
    line-height: 10px;
  }

  header .logo_container {
    justify-content: unset;
  }

  main #top_column {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  main #top_column .textbox {
    width: 120vw;
    margin-right: 10%;
    margin-top: 0;
  }

  main #top_column .textbox h3 {
    margin-top: 0;
  }

  main #top_column img {
    object-fit: cover;
    height: 1500px;
    margin-top: 0;
  }

  main #bottom_column {
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 10%;
    padding-bottom: 15%;
  }

  main #form {
    width: 80%;
    padding: 5%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 10px 10px 10px 10px;
  }

  main #bottom_column img {
    border-radius: 10px 0% 0px 10px;
    height: 100%;
  }

  main #button_box {
    margin-top: 0;
  }

  main #blogcontent {
    grid-template-columns: repeat(auto-fill, minmax(280px, 2fr));
    width: 90%;
  }

  footer .footer-content-wrapper {
    justify-content: space-evenly;
  }
}

/*---------laptop---------*/
@media screen and (min-width: 1024px) {
  header .logo_container {
    justify-content: flex-start;
  }

  header .logo_container {
    width: unset;
  }

  header .splash_text {
    bottom: 0%;
  }

  header .dropdown {
    padding-right: 17px;
  }

  header .sticky {
    padding-bottom: 0px;
  }

  .button {
    width: 70px;
  }

  header .search {
    width: 80px;
    margin-bottom: unset;
  }

  header .logo_image {
    max-width: 160px;
    margin-top: 12px;
  }

  header .text h1 {
    max-width: 600px;
  }

  .support-button_container {
    margin-left: 10px;
  }

  main #top_column {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5%;
    margin-bottom: 0;
  }

  main #top_column h3 {
    margin-top: 0;
  }

  main #top_column img {
    height: 400px;
    margin-top: 0;
  }

  main #bottom_column {
    width: 100%;
    justify-content: center;
    padding: 5% 15% 10% 15%;
  }

  main #bottom_column img {
    width: unset;
  }

  main #bottom_column #form {
    width: 30%;
  }

  main #blogcontent {
    grid-template-columns: repeat(auto-fill, minmax(250px, 4fr));
  }

  main .post_element {
    height: 380px;
  }
}

/*----laptop large------*/
@media screen and (min-width: 1440px) {
  header .splash_text {
    bottom: 20%;
  }

  img {
    max-height: 600px;
  }

  header .button {
    width: 80px;
  }

  header .search {
    width: 90px;
    margin-right: 10px;
  }

  header .nav_container button {
    height: 34px;
  }
  main #blogcontent {
    grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
  }
}
