:root {
  --color-white: #ffffff;
  --color-grey: #f6f6f6;
  --color-black: #000000;
  --color-red: #df544b;
  --color-icyblue: #e9eff4;
  --color-darkblue: #30415d;
  --color-darkerblue: #021424;

  --heading: montserrat, sans-serif;
  --paragraph: work-sans, sans-serif;
  --box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
}
body,
#navbar {
  max-width: 1800px;
  margin: auto;
}

html {
  overflow-y: scroll;
}

h1,
h2,
h3 {
  font-family: var(--heading);
}

h4,
h5,
h6,
p {
  font-family: var(--paragraph);
}

.picture_one {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
}

/*------------------------------------------------------------------------------------*/
/*                                     NAV BAR START                                  */
/*------------------------------------------------------------------------------------*/
header .sticky,
header .top_component {
  z-index: 300;
}

header #navbar {
  z-index: 1000 !important;
  padding: 16px 0px 5px 0px;
}
header .top_top {
  position: relative;
}

header .wrapper {
  display: flex;
  margin: 0px 10px;
  position: sticky;
}

header .nav_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

header .logo_image {
  max-width: 100px;
  display: flex;
  align-self: center;
}

header img#navbar_logo:hover {
  opacity: 70%;
  transition: all 0.2s ease-out;
}

header .logo_container {
  display: flex;

  width: 100%;
  height: 17px;
}

header .nav_container {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-align: center;
  align-items: center;
}

header .menu_toggle .burger-stripe {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--color-grey);
}

header .dropdown {
  position: relative;
  display: inline-block;
  padding: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: var(--color-red);
  /* color: var(--color-white); */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  margin-left: -3px;
  margin-top: 7px;
}

.dropdown-content a {
  color: var(--color-white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: var(--heading);
}

header .dropdown-content a:hover {
  background-color: #ac3c36;
}

header .dropdown:hover .dropdown-content {
  display: block;
}

header .nav_links:hover {
  color: rgb(199, 199, 199);
  transition: all 0.1s ease-out;
}

button {
  color: white;
  background-color: var(--color-red);
  border: none;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 90px;
  padding: 10px;
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: color, background-color;
  font-weight: bold;
  white-space: nowrap;
}

button:hover,
button:focus,
button:active {
  background-color: #ac3c36;
  color: white;
}

/*STICKY NAVBAR CLASS-*/
.sticky {
  position: fixed;
  top: 0;
  padding-bottom: 7px;
}

.background_color {
  background-color: var(--color-darkerblue);
  transition-timing-function: ease-in-out;
  transition: 0.4s;
  width: 100%;
}

header .search_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .search {
  background: var(--color-white);
  border-color: var(--color-grey);
  border-radius: 10px;
  border-width: 0.2vw;
  max-width: 133px;
  max-height: 10px;
  padding: 8px;
  margin-bottom: 10px;
}

/*----------------------------------nav bar END---------------------------------------*/
/*----FONT SIZES START------*/

.nav_links {
  color: var(--color-white);
  text-decoration: none;
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: clamp(0.938rem, 2vw + 0.25rem, 1.063rem);
  white-space: nowrap;
}

.dropdown-content a {
  font-style: normal;
  font-size: clamp(0.875rem, 2vw + 0.25rem, 0.875rem);
}

.text h1 {
  font-size: clamp(1.438rem, 3vw, 2.188rem);
  color: var(--color-white);
}

h2 {
  font-size: clamp(1.25rem, 4vw - 0.5rem, 1.5rem);
}

h3,
h5 {
  font-size: clamp(1.25rem, 4vw - 0.5rem, 1.5rem);
}

p {
  font-size: clamp(0.75rem, 3vw - 0.25rem, 0.938rem);
  line-height: clamp(1.25rem, 2vw + 0.5rem, 1.438rem);
}

#fold_content ul li {
  font-size: clamp(0.75rem, 3vw - 0.25rem, 0.938rem);
  line-height: clamp(1.25rem, 2vw + 0.5rem, 1.438rem);
}
/*----font sizes end------*/
.seperation_line {
  background-color: var(--color-darkerblue);
  height: 10px;
}
img {
  object-fit: cover;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

header .top_component {
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

/* Slideshow container */
header .slideshow-container {
  position: relative;
  margin: auto;
}

/* Caption text */
header .text {
  color: #f2f2f2;
  font-weight: bold;
  padding: 8px 7px;
  position: absolute;
  bottom: 90px;
  text-align: center;
  left: 6px;
}

header .text button {
  width: 240px;
}
/*------------------------------------------------------------------------------------*/
/*                                     MAIN INDHOLD                                 */
/*------------------------------------------------------------------------------------*/
main ul {
  font-family: var(--paragraph);
}
main button {
  margin-bottom: 25px;
  width: 120px;
}

main #animal_article {
  height: 400px;
}

main .top-banner {
  display: flex;
  height: 100%;
  background: no-repeat center / cover;
  flex-direction: column;
}

main .top-banner-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  padding-left: 20px;
  padding-right: 80px;
  color: white;
  background: rgba(48, 65, 93, 70%);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}

main .top-banner-overlay p {
  max-width: 400px;
}

main #fold_section {
  display: flex;
  justify-content: center;
  background-image: url("/static_assets/background_shape_high-right.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-darkerblue);
}

main #fold_content {
  text-align: left;
  padding: 40px;
  color: var(--color-white);
  max-width: 600px;
}

.wp-block-image {
  display: flex;
  justify-content: center;
}

main #fold_section img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  max-width: 500px;
}

main .top-banner2 {
  display: flex;
  height: 100%;
  background: no-repeat center / cover;
}

main .top-banner-overlay2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  padding-left: 112px;
  padding-right: 40px;
  color: white;
  background: rgba(48, 65, 93, 70%);
  margin-left: auto;
  margin-right: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
}

main .top-banner-overlay2 p {
  max-width: 400px;
}

main h2 {
  text-align: start;
  margin: 0px 0px 0px 0px;
  padding-top: 25px;
}

.hide {
  display: none;
}

/*------------------------------------------------------------------------------------*/
/*                              FOOTER START                                          */
/*------------------------------------------------------------------------------------*/
footer .footer-content-wrapper {
  display: flex;
  gap: 20px;
  text-align: start;
  background-color: var(--color-darkerblue);
  color: var(--color-white);
  padding: 20px;
  font-family: var(--paragraph);
}

footer .column {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 10px;
}

footer .column a {
  text-decoration: none;
  color: var(--color-white);
  white-space: pre-line;
}

footer .column .fas,
footer .column .fab {
  font-size: 15px;
}

footer .column a:hover {
  color: rgb(189, 189, 189);
}

/*------------------------------------------------------------------------------------*/
/*                                   MEDIAQUERIES                                     */
/*------------------------------------------------------------------------------------*/

@media screen and (min-width: 374px) {
  header .splash_text {
    bottom: 63%;
  }
}

@media screen and (min-width: 425px) {
  header .splash_text {
    bottom: 58%;
  }
}

/*---------mobile---------*/
@media screen and (max-width: 768px) {
  header .nav_container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    width: 55%;
    grid-gap: 0;
  }

  header #navbar {
    padding: 24px 0px 23px 0px;
  }

  header #nav_logo {
    margin-left: 20px;
  }

  header .nav_container.active {
    background: var(--color-darkblue);
    left: -10px;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 2vh;
  }

  header .nav_links:hover {
    transition: all 0.4s ease-out;
  }

  header #burger_menu {
    transform: translate(6%, -26%);
  }

  header .menu_toggle .burger-stripe {
    display: block;
    cursor: pointer;
  }

  header .menu_toggle:hover {
    cursor: pointer;
  }

  header #burger_menu.is-active .burger-stripe:nth-child(2) {
    opacity: 0;
  }

  header #burger_menu.is-active .burger-stripe:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  header #burger_menu.is-active .burger-stripe:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  footer .footer-content-wrapper {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
  }

  .logo_container {
    justify-content: space-between;
  }
}

/*-------tablet--------*/
@media screen and (min-width: 768px) {
  header .splash_text {
    bottom: 26%;
  }

  header .text {
    bottom: 100px;
    text-align: unset;
    left: 50px;
  }

  header .nav_container.active {
    width: 30%;
    max-height: 10px;
  }

  header .search {
    max-width: 50px;
    margin-bottom: unset;
  }

  header .nav_container button {
    width: 70px;
    height: 29px;
    text-align: center;
    line-height: 10px;
  }

  footer .footer-content-wrapper {
    justify-content: space-evenly;
  }
}

/*---------laptop---------*/
@media screen and (min-width: 1024px) {
  header .logo_container {
    justify-content: flex-start;
  }

  header .logo_container {
    width: unset;
  }

  header .splash_text {
    bottom: 0%;
  }

  header .dropdown {
    padding-right: 17px;
  }

  header .sticky {
    padding-bottom: 0px;
  }

  .button {
    width: 70px;
  }

  header .search {
    width: 80px;
    margin-bottom: unset;
  }

  header .logo_image {
    max-width: 160px;
    margin-top: 12px;
  }

  header .text h1 {
    max-width: 600px;
  }

  .support-button_container {
    margin-left: 10px;
  }

  .picture_overlay_wrapper {
    height: 400px;
  }

  main .top-banner-overlay {
    padding-left: 40px;
    padding-right: 103px;
  }

  main #fold_section img {
    height: 400px;
  }
}

/*----laptop large------*/
@media screen and (min-width: 1440px) {
  header .splash_text {
    bottom: 20%;
  }

  img {
    max-height: 600px;
  }

  header .button {
    width: 80px;
  }

  header .search {
    width: 90px;
    margin-right: 10px;
  }

  header .nav_container button {
    height: 34px;
  }
}
