:root {
  --color-white: #ffffff;
  --color-grey: #f6f6f6;
  --color-black: #000000;
  --color-red: #df544b;
  --color-icyblue: #e9eff4;
  --color-darkblue: #30415d;
  --color-darkerblue: #021424;

  --heading: montserrat, sans-serif;
  --paragraph: work-sans, sans-serif;
  --box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
}
body,
#navbar {
  max-width: 1800px;
  margin: auto;
}

html {
  overflow-y: scroll;
}

h1,
h2,
h3 {
  font-family: var(--heading);
}

h4,
h5,
h6,
p {
  font-family: var(--paragraph);
}

.picture_one,
.picture_two,
.picture_three {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
}

.picture_two {
  background-position: top;
}

/*------------------------------------------------------------------------------------*/
/*                                     NAV BAR START                                  */
/*------------------------------------------------------------------------------------*/
.top_top {
  position: relative;
}

header #navbar {
  z-index: 1000 !important;
  padding: 16px 0px 5px 0px;
}

.wrapper {
  display: flex;
  margin: 0px 10px;
  position: sticky;
}

.nav_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.logo_container {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  height: 17px;
}

.logo_image {
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img#navbar_logo:hover {
  opacity: 70%;
  transition: all 0.2s ease-out;
}

.logo_container {
  display: flex;
  width: 100%;
}

.nav_container {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-align: center;
  align-items: center;
}

.menu_toggle .burger-stripe {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--color-grey);
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: var(--color-red);
  /* color: var(--color-white); */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  margin-left: -3px;
  margin-top: 7px;
}

.dropdown-content a {
  color: var(--color-white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: var(--heading);
}

.dropdown-content a:hover {
  background-color: #ac3c36;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav_links:hover {
  color: rgb(199, 199, 199);
  transition: all 0.1s ease-out;
}

button {
  color: white;
  background-color: var(--color-red);
  border: none;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 90px;
  padding: 10px;
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: color, background-color;
  font-weight: bold;
  white-space: nowrap;
}

button:hover,
button:focus,
button:active {
  background-color: #ac3c36;
  color: white;
}

/*STICKY NAVBAR CLASS-*/
.sticky {
  position: fixed;
  top: 0;
  padding-bottom: 7px;
}

.background_color {
  background-color: var(--color-darkerblue);
  transition-timing-function: ease-in-out;
  transition: 0.4s;
  width: 100%;
}

.search_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  background: var(--color-white);
  border-color: var(--color-grey);
  border-radius: 10px;
  border-width: 0.2vw;
  max-width: 133px;
  max-height: 10px;
  padding: 8px;
  margin-bottom: 10px;
}

/*----------------------------------nav bar END---------------------------------------*/

/*----FONT SIZES START------*/

.nav_links {
  color: var(--color-white);
  text-decoration: none;
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: clamp(0.938rem, 2vw + 0.25rem, 1.063rem);
  white-space: nowrap;
}

.dropdown-content a {
  font-style: normal;
  font-size: clamp(0.875rem, 2vw + 0.25rem, 0.875rem);
}

.text h1 {
  font-size: clamp(1.438rem, 3vw, 2.188rem);
  color: var(--color-white);
}

h2 {
  font-size: (1.25rem, 4vw - 0.5rem, 1.5rem);
}

p {
  font-size: clamp(0.75rem, 3vw - 0.25rem, 0.938rem);
  line-height: clamp(1.25rem, 2vw + 0.5rem, 1.438rem);
}
/*----font sizes end------*/

header .sticky,
header .top_component {
  z-index: 300;
}

header .navbar {
  z-index: 1000 !important;
}

img {
  object-fit: cover;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

.top_component {
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.picture_three {
  background-position: top right;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 90px;
  text-align: center;
  left: 20px;
}

.text button {
  width: 240px;
}
/* The dots/bullets/indicators */

.dots {
  text-align: center;
  position: absolute;
  bottom: 11%;
  left: 40%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/*----call to action, donate, testamenter, underskriv------*/
.call-to-action_box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.call-to-action_option {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  cursor: pointer;
  max-width: 200px;
}
.call-to-action_option:hover {
  background-color: var(--color-grey);
}

.call-to-action_box a {
  text-decoration: none;
  color: var(--color-black);
}

.call-to-action_box img {
  width: 36%;
}
/*----two third------*/

.two-third_wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-icyblue);
  background-repeat: no-repeat;
  background-size: cover;
}

.two-third_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding: 30px 20px;
  border-radius: 0px 0px 10px 10px;
}

.two-third_wrapper .subheader {
  text-align: start;
  align-self: flex-start;
}

.two-third_right .paragraph {
  max-width: 600px;
}

.two-third_left {
  display: flex;
  min-height: 340px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.two-third-left_img {
  display: flex;
  justify-content: center;
}

.two-third-left_img img {
  border-radius: 10px;
}

.two-third-button_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
  justify-content: center;
}

.two-third-button_container button {
  width: 189px;
  align-self: flex-start;
  min-height: 10px;
  max-height: 35px;
}

.special_button {
  background-color: transparent;
  border: solid 3px var(--color-red);
  color: var(--color-red);
}

/*----newsletter------*/
.newsletter_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 40px 0px;
  background-position: center;
  background-size: cover;
}

#input_fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

#input_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
  color: var(--color-white);
}

#thank_you_message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
  color: var(--color-white);
}

.newsletter_wrapper button {
  width: 100%;
}
.newsletter_input {
  padding: 8px;
  border-radius: 10px;
}

/*----footer------*/
footer .footer-content-wrapper {
  display: flex;
  gap: 20px;
  text-align: start;
  background-color: var(--color-darkerblue);
  color: var(--color-white);
  padding: 20px;
  font-family: var(--paragraph);
}

footer .column {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 10px;
}

footer .column a {
  text-decoration: none;
  color: var(--color-white);
  white-space: pre-line;
}

footer .column .fas,
footer .column .fab {
  font-size: 15px;
}

footer .column a:hover {
  color: rgb(189, 189, 189);
}

/*------------------------------------------------------------------------------------*/
/*                                PRIVATLIVSPOLITIK                                   */
/*------------------------------------------------------------------------------------*/

#fixed_box {
  position: fixed;
  width: 100vw;
  bottom: 0%;
  display: flex;
  justify-content: center;
}

#privatlivspolitik {
  background-color: var(--color-darkerblue);
  border: solid 3px var(--color-darkblue);
  color: var(--color-white);
  padding: 3%;
  max-width: 50%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
}

#privatlivspolitik_text {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  justify-content: center;
}

#privatlivspolitik p {
  text-align: left;
  margin: 0;
  padding: 0;
}

#privatlivspolitik p:first-of-type {
  margin-bottom: 5%;
}

#buttons_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#buttons_box button {
  margin: 5%;
  margin-top: 10%;
}

.fade_in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

/*------------------------------------------------------------------------------------*/
/*                                   TOGGLE CLASSES                                   */
/*------------------------------------------------------------------------------------*/

.hide {
  display: none !important;
}

/*------------------------------------------------------------------------------------*/
/*                                   MEDIAQUERIES                                     */
/*------------------------------------------------------------------------------------*/

@media screen and (min-width: 374px) {
  .splash_text {
    bottom: 63%;
  }
}

@media screen and (min-width: 425px) {
  .splash_text {
    bottom: 58%;
  }
}

/*---------mobile---------*/
@media screen and (max-width: 768px) {
  .nav_container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    width: 55%;
    grid-gap: 0;
  }

  header #navbar {
    padding: 24px 0px 23px 0px;
  }

  #nav_logo {
    margin-left: 20px;
  }

  .nav_container.active {
    background: var(--color-darkblue);
    left: -10px;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 2vh;
  }

  /* .nav_links {
     
  } */

  .nav_links:hover {
    transition: all 0.4s ease-out;
  }

  #burger_menu {
    transform: translate(6%, -26%);
  }

  .menu_toggle .burger-stripe {
    display: block;
    cursor: pointer;
  }

  .menu_toggle:hover {
    cursor: pointer;
  }

  #burger_menu.is-active .burger-stripe:nth-child(2) {
    opacity: 0;
  }

  #burger_menu.is-active .burger-stripe:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #burger_menu.is-active .burger-stripe:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  footer .footer-content-wrapper {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
  }

  .logo_container {
    justify-content: space-between;
  }
}

/*-------tablet--------*/
@media screen and (min-width: 768px) {
  .splash_text {
    bottom: 26%;
  }

  .text {
    bottom: 100px;
    text-align: unset;
    left: 50px;
  }

  .nav_container.active {
    width: 30%;
    max-height: 10px;
  }

  .two-third {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 950px;
  }

  .two-third_left {
    flex: 1 1 40%;
    border-radius: 10px 0px 0px 10px;
  }
  .two-third_right {
    flex: 1 1 60%;
    border-radius: 0px 10px 10px 0px;
  }

  .newsletter_wrapper {
    min-height: 150px;
  }

  #input_fields {
    flex-direction: row;
  }

  .newsletter_wrapper button {
    max-width: 25%;
  }

  .dots {
    left: 47%;
  }

  .search {
    max-width: 50px;
    margin-bottom: unset;
  }

  .nav_container button {
    width: 70px;
    height: 29px;
    text-align: center;
    line-height: 10px;
  }

  footer .footer-content-wrapper {
    justify-content: space-evenly;
  }

  .call-to-action_box {
    flex-direction: row;
  }

  .call-to-action_option {
    height: 350px;
  }

  .two-third-button_container {
    flex-direction: row;
    align-self: start;
  }
}
/*---------laptop---------*/
@media screen and (min-width: 1024px) {
  .logo_container {
    justify-content: flex-start;
  }

  .logo_container {
    width: unset;
  }

  .splash_text {
    bottom: 0%;
  }

  .dropdown {
    padding-right: 17px;
  }

  .sticky {
    padding-bottom: 0px;
  }

  .button {
    width: 70px;
  }

  .search {
    width: 80px;
    margin-bottom: unset;
  }

  .two-third_right {
    padding: 80px;
  }

  .text h1 {
    max-width: 600px;
  }

  .logo_image {
    max-width: 160px;
    margin-top: 12px;
  }

  .support-button_container {
    margin-left: 10px;
  }
}
/*----laptop large------*/
@media screen and (min-width: 1440px) {
  .splash_text {
    bottom: 20%;
  }

  img {
    max-height: 600px;
  }

  .button {
    width: 80px;
  }

  .search {
    width: 90px;
    margin-right: 10px;
  }

  .nav_container button {
    height: 34px;
  }

  .call-to-action_box {
    gap: 64px;
  }

  .call-to-action_option {
    margin: unset;
    padding: 20px;
    max-width: 231px;
    width: 229px;
    height: 320px;
    margin: 20px 0pc;
  }
}
