:root {
  --color-white: #ffffff;
  --color-grey: #f6f6f6;
  --color-black: #000000;
  --color-red: #df544b;
  --color-icyblue: #e9eff4;
  --color-darkblue: #30415d;
  --color-darkerblue: #021424;

  --heading: montserrat, sans-serif;
  --paragraph: work-sans, sans-serif;
  --box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
}
body,
#navbar {
  max-width: 1800px;
  margin: auto;
}

html {
  overflow-y: scroll;
}

h1,
h2,
h3 {
  font-family: var(--heading);
}

h4,
h5,
h6,
p {
  font-family: var(--paragraph);
}

.picture_one {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
}

/*------------------------------------------------------------------------------------*/
/*                                     NAV BAR START                                  */
/*------------------------------------------------------------------------------------*/
header .sticky,
header .top_component {
  z-index: 300;
}

header .navbar {
  z-index: 1000 !important;
}
header .top_top {
  position: relative;
}

header .wrapper {
  display: flex;
  margin: 0px 10px;
  position: sticky;
}

header .nav_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

header .logo_image {
  max-width: 150px;
  margin-top: 5px;
}

header img#navbar_logo:hover {
  opacity: 70%;
  transition: all 0.2s ease-out;
}

header .logo_container {
  display: flex;

  width: 100%;
  height: 17px;
}

header .nav_container {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-align: center;
  align-items: center;
}

header .menu_toggle .burger-stripe {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--color-grey);
}

header .dropdown {
  position: relative;
  display: inline-block;
  padding: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: var(--color-red);
  /* color: var(--color-white); */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  margin-left: -3px;
  margin-top: 7px;
}

.dropdown-content a {
  color: var(--color-white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: var(--heading);
}

header .dropdown-content a:hover {
  background-color: #ac3c36;
}

header .dropdown:hover .dropdown-content {
  display: block;
}

header .nav_links {
  color: var(--color-white);
  text-decoration: none;
  /* position: relative; */
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  white-space: nowrap;
}

header .nav_links:hover {
  color: rgb(199, 199, 199);
  transition: all 0.1s ease-out;
}

button {
  color: white;
  background-color: var(--color-red);
  border: none;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 90px;
  padding: 10px;
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: color, background-color;
}

button:hover,
button:focus,
button:active {
  background-color: #ac3c36;
  color: white;
}

/*STICKY NAVBAR CLASS-*/
.sticky {
  position: fixed;
  top: 0;
  padding-bottom: 7px;
}

.background_color {
  background-color: var(--color-darkerblue);
  transition-timing-function: ease-in-out;
  transition: 0.4s;
  width: 100%;
}

header .search_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .search {
  background: var(--color-white);
  border-color: var(--color-grey);
  border-radius: 10px;
  border-width: 0.2vw;
  max-width: 133px;
  max-height: 10px;
  padding: 8px;
  margin-bottom: 10px;
}

/*----------------------------------nav bar END---------------------------------------*/
img {
  object-fit: cover;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

header .top_component {
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

/* Slideshow container */
header .slideshow-container {
  position: relative;
  margin: auto;
}

/* Caption text */
header .text {
  color: #f2f2f2;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 90px;
  text-align: center;
  left: 20px;
}

header .text button {
  width: 240px;
}

/*------------------------------------------------------------------------------------*/
/*                                   MEDIAQUERIES                                     */
/*------------------------------------------------------------------------------------*/

@media screen and (min-width: 374px) {
  header .splash_text {
    bottom: 63%;
  }
}

@media screen and (min-width: 425px) {
  header .splash_text {
    bottom: 58%;
  }
}

/*---------mobile---------*/
@media screen and (max-width: 768px) {
  header .nav_container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    width: 55%;
    grid-gap: 0;
  }

  header #nav_logo {
    margin-left: 20px;
  }

  header .nav_container.active {
    background: var(--color-darkblue);
    left: -10px;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 2vh;
  }

  header .nav_links:hover {
    transition: all 0.4s ease-out;
  }

  header #burger_menu {
    transform: translate(6%, -26%);
  }

  header .menu_toggle .burger-stripe {
    display: block;
    cursor: pointer;
  }

  header .menu_toggle:hover {
    cursor: pointer;
  }

  header #burger_menu.is-active .burger-stripe:nth-child(2) {
    opacity: 0;
  }

  header #burger_menu.is-active .burger-stripe:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  header #burger_menu.is-active .burger-stripe:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*-------tablet--------*/
@media screen and (min-width: 769px) {
  header .splash_text {
    bottom: 26%;
  }

  header .text {
    bottom: 100px;
    text-align: unset;
    left: 50px;
  }

  header .nav_container.active {
    width: 30%;
    max-height: 10px;
  }

  header .nav_links {
    font-size: 13px;
  }

  header .search {
    max-width: 50px;
    margin-bottom: unset;
  }

  header .nav_container button {
    width: 70px;
    height: 29px;
    text-align: center;
    line-height: 10px;
  }
}
/*---------laptop---------*/
@media screen and (min-width: 1024px) {
  header .logo_container {
    justify-content: flex-start;
  }

  header .logo_container {
    width: unset;
  }

  header .splash_text {
    bottom: 0%;
  }

  header .dropdown {
    padding-right: 17px;
  }

  header .sticky {
    padding-bottom: 0px;
  }

  .button {
    width: 70px;
  }

  header .search {
    width: 80px;
    margin-bottom: unset;
  }

  header .logo_image {
    max-width: 160px;
    margin-top: 12px;
  }

  header .text h1 {
    max-width: 600px;
  }

  .support-button_container {
    margin-left: 10px;
  }
}
/*----laptop large------*/
@media screen and (min-width: 1440px) {
  header .splash_text {
    bottom: 20%;
  }

  img {
    max-height: 600px;
  }

  header .button {
    width: 80px;
  }

  header .search {
    width: 90px;
    margin-right: 10px;
  }

  header .nav_container button {
    height: 34px;
  }
}
